Repository eDyablo/vpt-devops-tools-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs, test helmfile infra pipeline, test python jobs

.gitlab-ci.yml:

variables:
  CI_LIBRARY_REF_NAME: $CI_COMMIT_REF_NAME

test container image jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - container-image/**/*
    - generic/**/*
  trigger:
    include: container-image/test/.gitlab-ci.yml
    strategy: depend

test helm jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - generic/**/*
    - helm/**/*
  trigger:
    include: helm/test/.gitlab-ci.yml
    strategy: depend

test helmfile jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - generic/**/*
    - helmfile/**/*
  trigger:
    include: helmfile/test/.gitlab-ci.yml
    strategy: depend

test terragrunt jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - generic/**/*
    - terragrunt-jobs.yaml
    - terragrunt/**/*
  trigger:
    include: terragrunt/test/.gitlab-ci.yml
    strategy: depend

test helmfile infra pipeline:
  rules:
  - changes:
    - .gitlab-ci.yml
    - generic/**/*
    - helmfile-infra/**/*
  trigger:
    include: helmfile-infra/test/.gitlab-ci.yml
    strategy: depend

test python jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - generic/**/*
    - python/**/*
  trigger:
    include: python/test/.gitlab-ci.yml
    strategy: depend

remove redundant code
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

print out commit tag description
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

Revert "print out commit tag description"
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

switch kaniko image to official
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

build jar job
  java/jobs.gitlab-ci.yml
Due: none

Create README.md
  README.md
Due: none

Create LICENSE
  LICENSE
Due: none

rename job to use it as template
  java/jobs.gitlab-ci.yml
Due: none

respect job naming convention
  java/jobs.gitlab-ci.yml
Due: none

PLE-2115 retry kaniko build container image job on runner system failure
  .gitlab-ci.yml
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs, test helmfile infra pipeline, test python jobs

update kaniko image
  container-image/jobs.gitlab-ci.yml
  container-image/test/.gitlab-ci.yml
  helm/test/.gitlab-ci.yml
  helmfile-infra/test/.gitlab-ci.yml
  helmfile/test/.gitlab-ci.yml
  python/test/.gitlab-ci.yml
  terragrunt/test/.gitlab-ci.yml
Due: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs, test helmfile infra pipeline, test python jobs

environment includes environment specific values for a referencing environment
  helmfile.yaml
Due: none

allow to globally set image pull policy
  helmfile/templates.yaml
Due: test helmfile jobs

add uses internal alb ingress
  helmfile/templates.yaml
Due: test helmfile jobs

update alb ingress template host name template
  helmfile/templates.yaml
Due: test helmfile jobs

allow to select deployment for helmfile infra pipelines
  helmfile-infra/environment-pipeline.gitlab-ci.yml
  helmfile-infra/helmchart-pipeline.gitlab-ci.yml
  helmfile-infra/infra-pipeline.gitlab-ci.yml
  helmfile-infra/service-pipeline.gitlab-ci.yml
  helmfile/jobs.gitlab-ci.yml
Due: test helmfile jobs, test helmfile infra pipeline
