Repository eDyablo/vpt-devops-tools-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs

test container image jobs:
  trigger:
    strategy: depend
    project: devops/samples/utilaj

test helm jobs:
  trigger:
    project: devops/samples/tysa
    strategy: depend

test helmfile jobs:
  trigger:
    strategy: depend
    project: devops/samples/moon

test terragrunt jobs:
  trigger:
    strategy: depend
    project: devops/samples/ovaz

define upstream environment name for qa branch
  container-helmfile-jobs.gitlab-ci.yml
Due: none

update version tag pattern
  helm-jobs.yaml
Due: test helm jobs

sanitize verions tag pattern
  container-image-jobs.yaml
  helm-jobs.yaml
Due: test container image jobs, test helm jobs

pass fixed value for upstream environment tier
  container-helmfile-jobs.gitlab-ci.yml
Due: none

remove upstream environment tier variables
  container-helmfile-jobs.gitlab-ci.yml
Due: none

use pipeline level variable
  helm-jobs.yaml
Due: test helm jobs

define job variables for release branch
  container-helmfile-jobs.gitlab-ci.yml
Due: none

update deployment name suffix and environment name for release branch
  container-helmfile-jobs.gitlab-ci.yml
Due: none

support referencing environments
  helmfile.yaml
Due: test helmfile jobs

basic helmfile templates
  helmfile/templates.yaml
Due: none

update helmfile base template
  helmfile/templates.yaml
Due: none

service k8s infra jobs
  service-k8s-infra-jobs.gitlab-ci.yml
Due: none

pipeline action variable
  container-helmfile-jobs.gitlab-ci.yml
Due: none

update pipeline action options
  container-helmfile-jobs.gitlab-ci.yml
Due: none

update pipeline action variables
  container-helmfile-jobs.gitlab-ci.yml
Due: none

delete redundant file
  service-k8s-infra-jobs.gitlab-ci.yml
Due: none

update pipeline action dependent rules
  container-helmfile-jobs.gitlab-ci.yml
Due: none

promote release container image job does not clone repository
  container-helmfile-jobs.gitlab-ci.yml
Due: none

update trigger helm chart project job rules
  container-helmfile-jobs.gitlab-ci.yml
Due: none

select production helmfile environment when deploy release to production
  container-helmfile-jobs.gitlab-ci.yml
Due: none

extract environment names into variables
  container-helmfile-jobs.gitlab-ci.yml
Due: none

set helm chart app version according to container image tag
  container-helmfile-jobs.gitlab-ci.yml
Due: none

remove redundant variable assignment
  container-helmfile-jobs.gitlab-ci.yml
Due: none

rename production jira ticket pattern variable
  container-helmfile-jobs.gitlab-ci.yml
Due: none

set container image related jobs tags
  container-image-jobs.yaml
Due: test container image jobs

set default value for container image related jobs runner tag
  container-image-jobs.yaml
Due: test container image jobs

use whitespace as value
  container-image-jobs.yaml
Due: test container image jobs

format tags code
  container-image-jobs.yaml
Due: test container image jobs

use non whitespace value
  container-image-jobs.yaml
Due: test container image jobs

remove tags
  container-image-jobs.yaml
Due: test container image jobs

update kaniko image reference
  container-image-jobs.yaml
Due: test container image jobs

add trigger helmfile infra project job
  container-helmfile-jobs.gitlab-ci.yml
Due: none

move trigget helmfile infra project job
  container-helmfile-jobs.gitlab-ci.yml
  service-helm-pipeline.gitlab-ci.yml
Due: none

rename file
  service-helmchart-pipeline.gitlab-ci.yml
Due: none

correct rules
  service-helmchart-pipeline.gitlab-ci.yml
Due: none

helmfile infra pipeline
  helmfile-infra-pipeline.gitlab-ci.yml
Due: none

update helmfile infra pipeline
  helmfile-infra-pipeline.gitlab-ci.yml
Due: none

map environment to job runner tag
  helmfile-infra-pipeline.gitlab-ci.yml
Due: none

tidy up code
  helmfile-infra-pipeline.gitlab-ci.yml
Due: none

Path conditions:
  test container image jobs: any of: .gitlab-ci.yml, container-image-jobs.yaml
  test helm jobs: any of: .gitlab-ci.yml, helm-jobs.yaml
  test helmfile jobs: any of: .gitlab-ci.yml, helmfile-jobs.yaml, helmfile.yaml
  test terragrunt jobs: any of: .gitlab-ci.yml, terragrunt-jobs.yaml
