Repository eDyablo/vpt-devops-tools-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs, test helmfile infra pipeline

.gitlab-ci.yml:

variables:
  CI_LIBRARY_REF_NAME: $CI_COMMIT_REF_NAME

test container image jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - container-image/**/*
  trigger:
    project: devops/samples/utilaj
    strategy: depend

test helm jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - helm/**/*
  trigger:
    project: devops/samples/tysa
    strategy: depend

test helmfile jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - helmfile/**/*
  trigger:
    project: devops/samples/moon
    strategy: depend

test terragrunt jobs:
  rules:
  - changes:
    - .gitlab-ci.yml
    - terragrunt-jobs.yaml
  trigger:
    project: devops/samples/ovaz
    strategy: depend

test helmfile infra pipeline:
  rules:
  - changes:
    - .gitlab-ci.yml
    - helmfile-infra/**/*
  trigger:
    branch: release/0.0.0
    project: devops/samples/ikva/ikva-service
    streategy: depend

update dummy before script
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

correct dummy before script
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

update helmfile environment pipeline
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

invert promote container image job rule
  helmfile-infra/service-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

update promote container image jobs rules
  helmfile-infra/service-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

rearrange rules
  helmfile-infra/service-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

format job script
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

tidy up job scripts
  container-image/jobs.gitlab-ci.yml
  gitlab/jobs.gitlab-ci.yml
  helm/jobs.gitlab-ci.yml
  helmfile/jobs.gitlab-ci.yml
Due: test container image jobs, test helm jobs, test helmfile jobs

Revert "tidy up job scripts"
  container-image/jobs.gitlab-ci.yml
  gitlab/jobs.gitlab-ci.yml
  helm/jobs.gitlab-ci.yml
  helmfile/jobs.gitlab-ci.yml
Due: test container image jobs, test helm jobs, test helmfile jobs

try to move then to next line
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

rearrange then
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

Revert "rearrange then"
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

Revert "try to move then to next line"
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

test tag branch
  container-image/test/.gitlab-ci.yml
Due: test container image jobs

correct script
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

include teams notification scripts
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

send teams notifications
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

set ticket status for teams notifications
  helmfile-infra/environment-pipeline.gitlab-ci.yml
Due: test helmfile infra pipeline

update default rules
  container-image/pipeline.gitlab-ci.yml
Due: test container image jobs

update helm chart pipeline lint chart job rules
  helm/chart-pipeline.gitlab-ci.yml
Due: test helm jobs

correct reference
  helm/chart-pipeline.gitlab-ci.yml
Due: test helm jobs

test python jobs
  .gitlab-ci.yml
Due: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs, test helmfile infra pipeline

update python jobs and add python package pipeline
  python/jobs.gitlab-ci.yml
  python/package-pipeline.gitlab-ci.yml
Due: none

python twine upload job
  python/jobs.gitlab-ci.yml
  python/package-pipeline.gitlab-ci.yml
Due: none

tidy up code
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

rearrange tests
  .gitlab-ci.yml
  helm/test/.gitlab-ci.yml
  helmfile-infra/test/.gitlab-ci.yml
  helmfile/test/.gitlab-ci.yml
  python/test/.gitlab-ci.yml
  terragrunt/test/.gitlab-ci.yml
Due: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs, test helmfile infra pipeline

tidy up code
  helmfile/jobs.gitlab-ci.yml
Due: test helmfile jobs

correct script that gets build args
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

update script that collects build args
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

add container image registry regular variable
  container-image/variables.gitlab-ci.yml
Due: test container image jobs

switch to our own kaniko container image
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

Revert "switch to our own kaniko container image"
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

create directory before writing config file
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

use oficial kaniko image
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs

use our own custom kaniko image
  container-image/jobs.gitlab-ci.yml
Due: test container image jobs
