Repository eDyablo/vpt-devops-tools-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test container image jobs, test helm jobs, test helmfile jobs, test terragrunt jobs

test container image jobs:
  trigger:
    strategy: depend
    project: devops/samples/utilaj

test helm jobs:
  trigger:
    project: devops/samples/tysa
    strategy: depend

test helmfile jobs:
  trigger:
    strategy: depend
    project: devops/samples/moon

test terragrunt jobs:
  trigger:
    strategy: depend
    project: devops/samples/ovaz

update terragrunt environment jobs
  terragrunt-environment-jobs.yaml
Due: none

Remove redundant CONTAINER_IMAGE_REGISTRY_HOST variable
  container-image-jobs.yaml
Due: test container image jobs

qa branch name pattern
  container-image-jobs.yaml
Due: test container image jobs

container image jobs workflow rules
  container-image-jobs.yaml
Due: test container image jobs

remove redundant container image registry variable
  helm-jobs.yaml
  helmfile-jobs.yaml
  python-jobs.yaml
  terragrunt-jobs.yaml
Due: test helm jobs, test helmfile jobs, test terragrunt jobs

set container image registry for production tag
  container-image-jobs.yaml
Due: test container image jobs

update workflow rules
  container-image-jobs.yaml
Due: test container image jobs

update branch and tag patterns
  container-image-jobs.yaml
Due: test container image jobs

sanitize version tag pattern
  container-image-jobs.yaml
Due: test container image jobs

update ci values lookup
  helmfile.yaml
Due: test helmfile jobs

update branch name and tag patterns
  container-image-jobs.yaml
Due: test container image jobs

clone container image job
  container-image-jobs.yaml
Due: test container image jobs

update clone container job
  container-image-jobs.yaml
Due: test container image jobs

update clone container image job
  container-image-jobs.yaml
Due: test container image jobs

eval source countainer image name variable
  container-image-jobs.yaml
Due: test container image jobs

udpate job script
  container-image-jobs.yaml
Due: test container image jobs

update job script
  container-image-jobs.yaml
Due: test container image jobs

add container helmfile piepline
  container-helmfile-pipeline.gitlab-ci.yml
Due: none

workflow rules
  container-helmfile-pipeline.gitlab-ci.yml
Due: none

promote container image job
  container-helmfile-pipeline.gitlab-ci.yml
Due: none

pass variable
  container-helmfile-pipeline.gitlab-ci.yml
Due: none

rename file
  container-helmfile-jobs.gitlab-ci.yml
  container-helmfile-pipeline.gitlab-ci.yml
Due: none

add workflow rules
  container-helmfile-jobs.gitlab-ci.yml
Due: none

promote release container image job
  container-helmfile-jobs.gitlab-ci.yml
Due: none

build container image job
  container-helmfile-jobs.gitlab-ci.yml
Due: none

update workflow rules
  container-helmfile-jobs.gitlab-ci.yml
Due: none

move workflow rules to named block
  container-helmfile-jobs.gitlab-ci.yml
Due: none

deploy environment job
  container-helmfile-jobs.gitlab-ci.yml
Due: none

rename job
  container-helmfile-jobs.gitlab-ci.yml
Due: none

move default variable to script
  container-image-jobs.yaml
Due: test container image jobs

update build container image job rules
  container-helmfile-jobs.gitlab-ci.yml
Due: none

extend build container image job rules
  container-helmfile-jobs.gitlab-ci.yml
Due: none

correct build container image job rules
  container-helmfile-jobs.gitlab-ci.yml
Due: none

set container image base name default value
  container-helmfile-jobs.gitlab-ci.yml
Due: none

pass infra project path value
  container-helmfile-jobs.gitlab-ci.yml
Due: none

Revert "pass infra project path value"
  container-helmfile-jobs.gitlab-ci.yml
Due: none

set upsteam environment tier for development branches
  container-helmfile-jobs.gitlab-ci.yml
Due: none

set upsteam environement tier as development
  container-helmfile-jobs.gitlab-ci.yml
Due: none

update variables
  container-helmfile-jobs.gitlab-ci.yml
Due: none

Path conditions:
  test container image jobs: any of: .gitlab-ci.yml, container-image-jobs.yaml
  test helm jobs: any of: .gitlab-ci.yml, helm-jobs.yaml
  test helmfile jobs: any of: .gitlab-ci.yml, helmfile-jobs.yaml, helmfile.yaml
  test terragrunt jobs: any of: .gitlab-ci.yml, terragrunt-jobs.yaml
