Repository eDyablo/vpt-devops-tools-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test container image jobs, test helmfile jobs, test terragrunt jobs

test container image jobs:
  trigger:
    strategy: depend
    project: devops/samples/utilaj

test helmfile jobs:
  trigger:
    strategy: depend
    project: devops/samples/moon

test terragrunt jobs:
  trigger:
    strategy: depend
    project: devops/samples/ovaz

Kaniko build args
  container-image-jobs.yaml
Due: test container image jobs

Update helmfile deployment script
  helmfile-jobs.yaml
Due: test helmfile jobs

Helmfile deployment selector
  helmfile-jobs.yaml
Due: test helmfile jobs

Do not fail when no release found
  helmfile-jobs.yaml
Due: test helmfile jobs

Allow mo matching release
  helmfile-jobs.yaml
Due: test helmfile jobs

Store variables into dotenv artifact
  container-image-jobs.yaml
Due: test container image jobs

Write envs in after script
  helmfile-jobs.yaml
Due: test helmfile jobs

Always upload artifacts
  helmfile-jobs.yaml
Due: test helmfile jobs

Printout pods logs on failure
  helmfile-jobs.yaml
Due: test helmfile jobs

Get all log lines
  helmfile-jobs.yaml
Due: test helmfile jobs

Helm jobs
  .gitlab-ci.yml
  helm-jobs.yaml
Due: test container image jobs, test helmfile jobs

Set resource group for push chart to artifactory job
  helm-jobs.yaml
Due: none

Correct file reference
  .gitlab-ci.yml
Due: test container image jobs, test helmfile jobs

Helm chart release jobs
  helm-jobs.yaml
Due: none

Printout the release pods containers logs
  helm-jobs.yaml
Due: none

Helm chart version can refer helm chart source version
  helm-jobs.yaml
Due: none

Change helm chart source version reference pattern
  helm-jobs.yaml
Due: none

Sanitize helm chart related variables
  helm-jobs.yaml
Due: none

PLE-1912: Allow empty deployment name prefix and suffix
  helmfile.yaml
Due: test helmfile jobs

PLE-1906: Correctly handle deployment name prefix and suffix
  helmfile.yaml
Due: test helmfile jobs

PLE-1912: Predefine empty deployment name prefix and suffix
  helmfile.yaml
Due: test helmfile jobs

PLE-1894: python jobs
  python-jobs.yaml
Due: none

Collect ci related values
  helmfile.yaml
Due: test helmfile jobs

PLE-1924: Add paths related values
  helmfile.yaml
Due: test helmfile jobs

helm chart version depends on branch
  helm-jobs.yaml
Due: none

Update helm chart dependencies
  helm-jobs.yaml
Due: none

use commit tag as helm chart version
  helm-jobs.yaml
Due: none

set terraform as jobs tag
  terragrunt-jobs.yaml
Due: test terragrunt jobs

short name helper
  helmfile.yaml
Due: test helmfile jobs

bump up kaniko executor container image version
  container-image-jobs.yaml
Due: test container image jobs

do not fail when rootHelmfileDirPath value is not defined
  helmfile.yaml
Due: test helmfile jobs

build ci annotations values
  helmfile.yaml
Due: test helmfile jobs

scan deployment for its components
  helmfile.yaml
Due: test helmfile jobs

correct typo
  helmfile.yaml
Due: test helmfile jobs

add deployment release name value
  helmfile.yaml
Due: test helmfile jobs

terragrunt environment pipeline
  terragrunt-environment-pipeline.yaml
Due: none

terragrunt environment jobs
  terragrunt-environment-jobs.yaml
Due: none

Path conditions:
  test container image jobs: any of: .gitlab-ci.yml, container-image-jobs.yaml
  test helmfile jobs: any of: .gitlab-ci.yml, helmfile-jobs.yaml, helmfile.yaml
  test terragrunt jobs: any of: .gitlab-ci.yaml, terragrunt-jobs.yaml
